@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --vermelho: #e60000;
    --vermelho-escuro: #9e0000;
    --preto: #000000;
    --cinza: #191919;
    --branco: #ffffff;
}
body {
    background-color: var(--cinza);
    font-family: 'Courier New', Courier, monospace;
    color: var(--branco);
   
}

main {
    padding: 15px;
}

h1 > img {
    width: 100%;
    max-width: 400px;
    margin-right: 20px;
}

header {
    text-align: center;
    margin: 10px 0px 0px 10px;
}

fieldset {
    padding: 10px;
    margin: 10px;
    border-color: var(--vermelho);
}

legend {
    color: var(--branco);
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    background-color: var(--vermelho);
    border-radius: 8px;
    font-size: 18px;
    max-width: 40%;
}

div {
    margin-bottom: 10px;
}


.inputbox {
    position: relative;
}

.inputuser {
    color: var(--branco);
    background-color: var(--preto);
    border: none;
    border-bottom: 1px solid var(--branco);
    outline: none;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.labelinput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
    font-size: 17px;
}

.inputuser:focus ~ .labelinput, .inputuser:valid ~ .labelinput {
    top: -20px;
    font-size: 15px;
    color: var(--branco);
}
div.box {
    background-color: var(--preto);
    padding: 15px;
    border-radius: 15px;
    margin: auto;
    max-width: 700px;
    min-width: 300px;
}

div.nome {
    margin-bottom: 10px;
}

#submit {
    text-align: center;
    background-image: linear-gradient(to right,  var(--vermelho), var(--vermelho), var(--vermelho));
    width: 30%;
    border: none;
    padding: 15px;
    border-radius: 10px;
    color: var(--branco);
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
}

#submit:hover {
    background-image: linear-gradient(to right,  var(--vermelho-escuro), var(--vermelho), var(--vermelho-escuro));
}

a {
    text-decoration: none;
    color: var(--branco);
}

p {
    margin-top: 10px;
    text-align: center;
}