@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: linear-gradient(to right, #00012b, #0c128f,  #00012b);
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
}

header {
    text-align: center;
    margin-top: 40px;
}

main > p {
    text-align: center;
    font-size: 15px;
    color: #ffffff5c;
    margin-top: 20px;
}

img {
    width: 70%;
    max-width: 400px;
}

a {
    text-decoration: none;
    color: #ffffff;
}